workflow/slack_to_linkedin_approval.json.json
{
  "name": "Slack → OpenAI → LinkedIn Publisher",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.text }}",
              "rightValue": "!skip",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.text }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.bot_id }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "condition-4",
              "leftValue": "={{ $json.thread_ts }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ignore-rules",
      "name": "Ignore Rules",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {},
      "id": "stop-node",
      "name": "Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "raw_text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "source_channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "field-3",
              "name": "source_user",
              "value": "={{ $json.user }}",
              "type": "string"
            },
            {
              "id": "field-4",
              "name": "source_ts",
              "value": "={{ $json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-parse-error",
      "name": "Check Parse Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.log_channel_id }}",
          "mode": "id"
        },
        "text": "=⚠️ *JSON Parse Error*\n\n*Error:* {{ $json.error_message }}\n\n*Original Slack message:*\n{{ $json.raw_text }}\n\n*Raw OpenAI response:*\n```{{ JSON.stringify($json.raw_response, null, 2) }}```",
        "otherOptions": {}
      },
      "id": "log-parse-error",
      "name": "Log Parse Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1824,
        128
      ],
      "webhookId": "eb983526-eb3a-4644-8944-236aec3908c0",
      "credentials": {
        "slackApi": {
          "id": "noOXIFvDCa5y6Uw1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "safety-check",
              "leftValue": "={{ $json.safety_ok }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "safety-gate",
      "name": "Safety Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1456,
        512
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.log_channel_id}}",
          "mode": "id"
        },
        "text": "=🛑 *Safety Check Failed*\n\n*Reason:* {{ $json.notes }}\n\n*Original Slack message:*\n{{ $json.raw_text }}\n\n*Safer alternative suggested:*\n{{ $json.post_text }}",
        "otherOptions": {}
      },
      "id": "log-safety-fail",
      "name": "Log Safety Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1664,
        400
      ],
      "webhookId": "26b7317e-b024-4fe6-8ef0-f63e603ad6ef",
      "credentials": {
        "slackApi": {
          "id": "noOXIFvDCa5y6Uw1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{$json.approval_channel_id }}",
          "mode": "id"
        },
        "text": "=*LinkedIn Post Ready for Approval*\n\nDraft:\n{{ $json.post_text }}\n{{ $json.hashtags }}\n\nApprove:\n{{ $execution.resumeUrl }}?decision=approve\n\nReject:\n{{ $execution.resumeUrl }}?decision=reject\n",
        "otherOptions": {}
      },
      "id": "send-for-approval",
      "name": "Send For Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1664,
        608
      ],
      "webhookId": "9f48233a-a64a-443e-8496-6a015d416fee",
      "credentials": {
        "slackApi": {
          "id": "noOXIFvDCa5y6Uw1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "rawBody": false
        }
      },
      "id": "wait-for-approval",
      "name": "Wait For Approval Reply",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        608
      ],
      "webhookId": "auto-generated-wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "approval-check",
              "leftValue": "={{ $json.query.decision }}\n",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "approval-decision",
      "name": "Approval Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2128,
        464
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.log_channel_id}}",
          "mode": "id"
        },
        "text": "=❌ *LinkedIn Post Rejected*\n\nPost was not approved for publishing.",
        "otherOptions": {}
      },
      "id": "log-rejection",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2560,
        400
      ],
      "webhookId": "0cab33f0-7240-435d-b818-61ad7e006588",
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-oauth",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst formattedHashtags = (item.draft_hashtags || '')\n  .split(/\\s+/)\n  .filter(Boolean)\n  .map(t => t.startsWith('#') ? t : `#${t}`)\n  .join(' ');\n\nconst final_text = item.post_text  + formattedHashtags;\n\nreturn {\n  json: {\n    ...item,\n    final_text: final_text,\n    final_hashtags: formattedHashtags\n  }\n};"
      },
      "id": "build-final-text",
      "name": "Build Final LinkedIn Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:0ktuyxZ1g0\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{$json.final_text}}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "id": "linkedin-post",
      "name": "LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        640
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "obq3w7slKrk51Ukl",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.log_channel_id }}",
          "mode": "id"
        },
        "text": "=✅ *Posted to LinkedIn Successfully*\n\n*Status:* {{ $json.statusCode || 'Success' }}\n\n*Preview (first 120 chars):*\n{{ $json.final_text ? $json.final_text.substring(0, 120) : 'N/A' }}...\n\n*Full post length:* {{ $json.final_text ? $json.final_text.length : 0 }} characters",
        "otherOptions": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2928,
        800
      ],
      "webhookId": "c9a09d3a-fb1b-4c78-81d4-3c8b02d57e56",
      "credentials": {
        "slackApi": {
          "id": "noOXIFvDCa5y6Uw1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $log.log_channel_id }}",
          "mode": "id"
        },
        "text": "=❌ *Workflow Error*\n\n*Node:* {{ $node.name }}\n*Error:* {{ $json.error?.message || 'Unknown error' }}\n\n*Original message:*\n{{ $json.raw_text || 'N/A' }}\n\n*Stack trace:*\n```{{ $json.error?.stack || 'N/A' }}```",
        "otherOptions": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2800,
        400
      ],
      "webhookId": "6b8997a2-b1c7-4335-8438-f7fe93f486a6",
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-oauth",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        -48
      ],
      "id": "edceefd4-e3d1-4423-9736-7401dd3eaa7f",
      "name": "Webhook",
      "webhookId": "b0b2b22e-545a-41b6-bb06-5937d3bacf7a"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\n// Slack URL verification\nif (body.type === 'url_verification' && body.challenge) {\n  return [{ challenge: body.challenge }];\n}\n\n// Slack event callback\nif (body.type === 'event_callback') {\n  const ev = body.event || {};\n  return [{\n    slack_event: ev,\n    text: ev.text,\n    user: ev.user,\n    channel: ev.channel,\n    ts: ev.ts,\n    bot_id: ev.bot_id,\n    subtype: ev.subtype,\n    thread_ts: ev.thread_ts,\n    raw: body\n  }];\n}\n\nreturn [{ raw: body }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -16
      ],
      "id": "a0e4bad3-2113-44bd-9223-7205931ee83c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        -16
      ],
      "id": "6856b7f4-7452-4b6c-b6da-8cceb47e76a0",
      "name": "Respond to Webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{'gpt-4.1-mini' }}\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a LinkedIn post writer. Rewrite the input into a concise, engaging LinkedIn post. Return ONLY valid JSON with keys: post_text (string), hashtags (array of strings), safety_ok (boolean), notes (string). No markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Slack message:\\n{{ $json.raw_text }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        480
      ],
      "id": "b19f9f22-404f-4d0b-9a7c-53ae4e5e46f6",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "93L7TuFPSFe4oSCG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node must return [{ json: {...} }]\nconst item = $input.first().json;\n\n// The OpenAI HTTP Request node response body is already JSON in item.json\n// We want to extract the model's text and parse it into JSON.\n\nconst resp = item; // depending on your node, you may need: item.body\n\n// Try common Responses API locations\nconst text =\n  resp.output?.[0]?.content?.[0]?.text ||\n  resp.output_text ||\n  resp.body?.output?.[0]?.content?.[0]?.text ||\n  resp.body?.output_text ||\n  '';\n\nif (!text) {\n  return [{\n    json: {\n      ok: false,\n      parse_error: true,\n      parse_error_message: 'OpenAI response text not found',\n      openai_raw: resp\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(text);\n  return [{\n    json: {\n      ok: true,\n      ...parsed,\n      openai_raw: resp\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      ok: false,\n      parse_error: true,\n      parse_error_message: `Failed to parse JSON from OpenAI: ${e.message}`,\n      openai_text: text,\n      openai_raw: resp\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        448
      ],
      "id": "d819df80-332a-467f-8d5f-feeb18d404fb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16e29578-700e-4c14-b3af-cb0fa555d171",
              "name": "log_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            },
            {
              "id": "863bd63a-d747-4a5b-b424-33ba7604d7f8",
              "name": "approval_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        256
      ],
      "id": "b278de7a-c072-426c-bd7a-4d514dbf9d0b",
      "name": "Config / Constants"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc963f88-c8e9-476f-9c68-4577a72f689b",
              "name": "draft_post_text",
              "value": "={{ $json.post_text }}",
              "type": "string"
            },
            {
              "id": "bcdcd358-3c29-45c3-8c72-40f6ad533abf",
              "name": "draft_hashtags",
              "value": "={{ ($json.hashtags || []).join(' ') }}",
              "type": "string"
            },
            {
              "id": "b7bbb981-9592-4649-a9a2-13f5ece6cf0e",
              "name": "draft_payload",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        784
      ],
      "id": "39beeb90-528e-4f0c-a12c-302583d5b9e6",
      "name": "Store Draft"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2032,
        800
      ],
      "id": "860ea8df-d5c4-4936-8467-391b6e39288a",
      "name": "Merge Draft + Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16e29578-700e-4c14-b3af-cb0fa555d171",
              "name": "log_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            },
            {
              "id": "863bd63a-d747-4a5b-b424-33ba7604d7f8",
              "name": "approval_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        1008
      ],
      "id": "fe20c8d3-dc26-4802-82ae-291c99a801d0",
      "name": "Config / Constants1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16e29578-700e-4c14-b3af-cb0fa555d171",
              "name": "log_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            },
            {
              "id": "863bd63a-d747-4a5b-b424-33ba7604d7f8",
              "name": "approval_channel_id",
              "value": "C099C129W1J",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        240
      ],
      "id": "bbba471d-33f1-4c17-b8ff-ba3c391c2b2a",
      "name": "Config / Constants2"
    }
  ],
  "pinData": {},
  "connections": {
    "Ignore Rules": {
      "main": [
        [
          {
            "node": "Stop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Error": {
      "main": [
        [
          {
            "node": "Log Parse Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safety Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Gate": {
      "main": [
        [
          {
            "node": "Log Safety Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send For Approval": {
      "main": [
        [
          {
            "node": "Wait For Approval Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Approval Reply": {
      "main": [
        [
          {
            "node": "Merge Draft + Decision",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Approval Decision": {
      "main": [
        [
          {
            "node": "Build Final LinkedIn Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config / Constants2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final LinkedIn Text": {
      "main": [
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "Config / Constants1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Ignore Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Config / Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config / Constants": {
      "main": [
        [
          {
            "node": "Check Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Draft": {
      "main": [
        [
          {
            "node": "Merge Draft + Decision",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send For Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Draft + Decision": {
      "main": [
        [
          {
            "node": "Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejection": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config / Constants1": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config / Constants2": {
      "main": [
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0299628c-c8bb-4d5e-be6b-921003461857",
  "meta": {
    "instanceId": "4c05fae9a3f499d885009cc6dd4aba69c4479615c1dafca895790b03e51aad52"
  },
  "id": "ABvYLOcRSHwREZxU",
  "tags": []
}